 body {
     background-color: rgb(255, 228, 185);
 }

 .title {
     font-size: 27px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 * {
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-decoration: none;
 }

 .div {
     width: 100%;
     display: flex;
     justify-content: space-around;
     gap: 20px;
     align-items: center;
     height: 500px;
 }

 .book {
     width: 650px;
     height: 450px;
     box-shadow: 0px 0px 30px 0px;
     border-radius: 20px;
 }

 .text1 {
     width: 600px;
     font-size: 17px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 section {
     display: flex;
     width: 100%;
     justify-content: space-around;
 }

 img {
     width: 80px;
     height: 80px;
 }

 .section {
     text-decoration-line: none;
     color: black;
     width: 450px;
     box-shadow: 0px 0px 30px 0px;
     border-radius: 10px;
     height: 350px;
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: 10px;
     background-color: rgb(255, 241, 215);
     align-items: center;
     transition: 0.5s;
 }

 .section>h1 {
     text-decoration-line: none;
     width: 90%;
 }

 .section>p {
     width: 90%;
     text-decoration-line: none;
 }

 .section:hover {
     cursor: pointer;
     width: 470px;
     height: 370px;
     color: rgb(127, 38, 0);

 }

 @media (max-width:1300px) and (min-width:900px) {

     .book {
         display: none;
     }

     .div>div {
         text-align: center;
     }

 }

 @media(max-width:900px) {
     .div {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 50px;
         height: 1000px;

     }

     .div>div {
         text-align: center;
     }

     .book {
         display: block;
     }
 }

 @media (max-width:1300px) {
     section {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 40px;
     }
 }